<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="ActionsProperty" Value="1"/>
    
    <Binary Id="CustomActionDll" SourceFile="$(var.WixCustomActions.TargetDir)WixCustomActions.CA.dll" />

    <CustomAction Id="SeedAction"
                  BinaryKey="CustomActionDll"
                  DllEntry="Seed"
                  Execute="deferred"
                  Impersonate="yes"
                  Return="check" />

    <InstallExecuteSequence>
      <Custom Action="SeedAction" Before="InstallFinalize">RUN_SEED = "yes"</Custom>
    </InstallExecuteSequence>
  
  </Fragment>
</Wix>
