<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bitig.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Bitig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Bitig.Properties.Settings.TestDBConnectionString"
            connectionString="Data Source=RAWXAN;Initial Catalog=TestDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Bitig.UI.Properties.Settings>
            <setting name="k_SplitterDistance" serializeAs="String">
                <value>469</value>
            </setting>
            <setting name="k_AlphabetVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="k_Location" serializeAs="String">
                <value>3, 0</value>
            </setting>
            <setting name="k_ClientSize" serializeAs="String">
                <value>709, 573</value>
            </setting>
            <setting name="k_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="k_AlifUser1Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="k_AlifUser2Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="k_AlifUser3Visisble" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="k_TlsMainLocation" serializeAs="String">
                <value>2, 24</value>
            </setting>
            <setting name="k_AlphabetLocation" serializeAs="String">
                <value>229, 39</value>
            </setting>
            <setting name="k_TlsTextLocation" serializeAs="String">
                <value>3, 0</value>
            </setting>
            <setting name="k_TlsParagraphLocation" serializeAs="String">
                <value>141, 44</value>
            </setting>
        </Bitig.UI.Properties.Settings>
        <Bitig.Properties.Settings>
            <setting name="k_SplitterDistance" serializeAs="String">
                <value>469</value>
            </setting>
            <setting name="k_AlphabetVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="k_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="k_ClientSize" serializeAs="String">
                <value>709, 573</value>
            </setting>
            <setting name="k_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="k_Panel1Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
        </Bitig.Properties.Settings>
    </userSettings>
</configuration>